@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.6em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7d6293;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ccb2e1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  outline: none !important;
  border: 1px solid #ccb2e1;
  box-shadow: 0 0 7px #719ECE;
}

textarea {
  display: block;
  margin: 0.7em;
  padding: 0.8em;
  background-color: #333333;
  color: #888;
}
textarea:focus {
  outline: none !important;
  border: 1px solid #ccb2e1;
  box-shadow: 0 0 7px #719ECE;
}

label {
  color: #888;
  font-size: 1.1em;
}

input {
  margin: 0.7em;
  background-color: #333333;
  color: #c1add3;
  font-weight: 600;
  text-align: center;
  padding: 0.3em;
}
input:focus {
  outline: none !important;
  border: 1px solid #ccb2e1;
  box-shadow: 0 0 7px #719ECE;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
